@import url('https://fonts.googleapis.com/css?family=Michroma');

body {
  margin: 0;
  font-family: 'michroma', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'michroma', 'Courier New',
    monospace;
}